@model DataLayer.ResumeTB
@{
    ViewBag.Title = "EditResume";
    Layout = "~/Areas/KarJo/Views/Shared/_LayoutKarjo.cshtml";
}
<div class="form-widget ls-widget ">
    <div class="widget-title"><h4><span class="icon flaticon-user"></span>Your Resume</h4></div>
    <div class="widget-content">
        <!-- Comment Form -->
        <div class="default-form">
            <!--Comment Form-->
            <form id="formemloyee">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" id="Firstname" placeholder="@Model.FirstName" value="@Model.FirstName" required>
                    <span class="icon fab"></span>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" id="Lastname" placeholder="@Model.LatName" value="@Model.LatName" required>
                    <span class="icon fab "></span>
                </div>
                <div class="form-group">
                    <label>Age</label>
                    <input type="text" id="Age" placeholder="@Model.Age" value="@Model.Age" required>
                    <span class="icon fab fa-instagram"></span>
                </div>
                <div class="radio-outer margin-top-10">
                    <label>Gender</label>
                    <div class="checkbox-outer">
                        <ul class="checkboxes">
                            @if (Model.Gender == "Male")
                            {
                                <!-- Checkboxes Ouer -->
                                <li>
                                    <input id="check-c1" data-id="Male" type="checkbox" value="Male" name="Gender" onclick="selectOnlyThisForC(this,this.id)" checked>
                                    <label for="check-c1">Male</label>
                                </li>
                                <li>
                                    <input id="check-c2" data-id="Female" type="checkbox"   value="Female" name="Gender" onclick="selectOnlyThisForC(this,this.id)">
                                    <label for="check-c2">Female</label>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <input id="check-c1" data-id="Male" type="checkbox"  value="Male" onclick="selectOnlyThisForC(this,this.id)" name="Gender">
                                    <label for="check-c1">Male</label>
                                </li>
                                <li>
                                    <input id="check-c2" data-id="Female" type="checkbox"  value="Female" name="Gender" onclick="selectOnlyThisForC(this,this.id)" checked>
                                    <label for="check-c2">Female</label>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label>Education Degree</label>
                    <div class="checkbox-outer">
                        <ul class="checkboxes">
                            @if (Model.EduDegree == "Bachelor")
                            {
                                <li>
                                    <input id="check-a1" type="checkbox" value="Bachelor" name="EduDegree" onclick="selectOnlyThisForA(this,this.id)" checked>
                                    <label for="check-a1">Bachelor</label>
                                </li>
                                <li>
                                    <input id="check-a2" type="checkbox" value="Master" name="EduDegree" onclick="selectOnlyThisForA(this,this.id)">
                                    <label for="check-a2">Master</label>
                                </li>
                                <li>
                                    <input id="check-a3" type="checkbox" value="PHD" name="EduDegree" onclick="selectOnlyThisForA(this,this.id)">
                                    <label for="check-a3">PHD</label>
                                </li>
                            }
                            else
                            {
                                if (Model.EduDegree == "Master")
                                {
                                    <li>
                                        <input id="check-a1" type="checkbox" value="Bachelor" name="EduDegree" onclick="selectOnlyThisForA(this,this.id)">
                                        <label for="check-a1">Bachelor</label>
                                    </li>
                                    <li>
                                        <input id="check-a2" type="checkbox" value="Master" name="EduDegree" onclick="selectOnlyThisForA(this,this.id)" checked>
                                        <label for="check-a2">Master</label>
                                    </li>
                                    <li>
                                        <input id="check-a3" type="checkbox" value="PHD" name="EduDegree" onclick="selectOnlyThisForA(this,this.id)">
                                        <label for="check-a3">PHD</label>
                                    </li>


                                }
                                else
                                {

                                    <li>
                                        <input id="check-a1" type="checkbox" value="Bachelor" name="EduDegree" onclick="selectOnlyThisForA(this,this.id)">
                                        <label for="check-a1">Bachelor</label>
                                    </li>
                                    <li>
                                        <input id="check-a2" type="checkbox" value="Master" name="EduDegree" onclick="selectOnlyThisForA(this,this.id)">
                                        <label for="check-a2">Master</label>
                                    </li>
                                    <li>
                                        <input id="check-a3" type="checkbox" value="PHD" name="EduDegree" onclick="selectOnlyThisForA(this,this.id)" checked>
                                        <label for="check-a3">PHD</label>
                                    </li>

                                }


                            }
                        </ul>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label>Ability Description</label>
                    <input type="text" id="AbilityDescription" name="AbilityDescription" placeholder="@Model.AbilityDescription" value="@Model.AbilityDescription" required>
                    <span class="icon fab"></span>
                </div>
                <div class="form-group">
                    <label>English Ability</label>
                    <div class="checkbox-outer">
                        <ul class="checkboxes">
                            @if (Model.EnglishAbility)
                            {
                                <li>
                                    <input id="check-b" type="checkbox" value="True" name="EnglishAbility" checked>
                                    <label for="check-b">English Ability</label>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <input id="check-b" type="checkbox" value="False" name="EnglishAbility">
                                    <label for="check-b">English Ability</label>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label>Extra Ability</label>
                    <input type="text" id="ExtraAbility" placeholder="@Model.ExtraAbility" name="ExtraAbility" value="@Model.ExtraAbility" required>
                    <span class="icon fab fa-instagram"></span>
                </div>
                <div class="form-group">
                    <button class="theme-btn btn-style-two" id="submit-form">Save Changes</button>
                </div>
            </form>
        </div>
        <!--End Comment Form -->
    </div>
</div>
@section PageScript{
    <script>
        var gender;
        var edu;
        var english;
        function selectOnlyThisForA(e, id) {
            for (var i = 1; i <= 3; i++) {
                document.getElementById("check-a" + i).checked = false;
            }
            document.getElementById(id).checked = true;

        }
        function selectOnlyThisForC(e, id) {
            for (var i = 1; i <= 2; i++) {
                document.getElementById("check-c" + i).checked = false;
            }
            document.getElementById(id).checked = true;

        }
        $(function () {
            $(document).ready(function () {
                $(document).on("click", "#submit-form", function (e) {
                    e.preventDefault();
                    gender = $("input[type=checkbox][name=Gender]:checked").val();
                    edu = $("input[type=checkbox][name=EduDegree]:checked").val();
                    if (document.getElementById('check-b').checked) {
                        english = "True";
                    } else {
                        english = "False";
                    }
                    $.ajax({
                        type: "POST",
                        url: "/KarJo/Panel/EditResume",
                        data: JSON.stringify({
                            ResumeID:@Model.ResumeID,
                            Firstname: $("#Firstname").val(),
                            Latname: $("#Lastname").val(),
                            Age: $("#Age").val(),
                            Gender: gender,
                            EduDegree: edu,
                            AbilityDescription: $("#AbilityDescription").val(),
                            EnglishAbility: english,
                            ExtraAbility: $("#ExtraAbility").val()
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (e) {
                            if (e.Status) {
                                alert('ok!');
                            }
                            else {
                                alert('false');

                            }
                        },
                        error: function () {
                            alert('khata');
                        }
                    });
                });

            });
        });
    </script>
}
