@model DataLayer.UserTB
@{
    ViewBag.Title = "EditPersonalInformation";
    Layout = "~/Areas/KarJo/Views/Shared/_LayoutKarjo.cshtml";
}
<div class="form-widget ls-widget ">
    <div class="widget-title"><h4><span class="icon flaticon-user"></span>Your Resume</h4></div>
    <div class="widget-content">
        <!-- Comment Form -->
        <div class="default-form">
            <!--Comment Form-->
            <form id="formemloyee">
                <div class="form-group">
                    <label>User Name</label>
                    <input type="text" id="UserName"  value="@Model.UserName" required>
                    <span class="icon fab"></span>
                </div>
                <div class="form-group">
                    <label>PassWord</label>
                    <input type="text" id="Password"  value="@Model.Password" required>
                    <span class="icon fab "></span>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" id="Email"  value="@Model.Email" required>
                    <span class="icon fab fa-instagram"></span>
                </div>
                <br />
                <div class="form-group">
                    <button class="theme-btn btn-style-two" id="submit-form">Save Changes</button>
                </div>
            </form>
        </div>
        <!--End Comment Form -->
    </div>
</div>
@section PageScript{
    <script>
        $(function () {
            $(document).ready(function () {
                $(document).on("click", "#submit-form", function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: "/KarJo/Panel/EditPersonalInformation",
                        data: JSON.stringify({
                            UserID:@Model.UserID,
                            UserName: $("#UserName").val(),
                            Email: $("#Email").val(),
                            Password: $("#Password").val(),
                            RoleID:@Model.RoleID,
                            ActiveCode:"@Model.ActiveCode",
                            IsActive:"@Model.IsActive"
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (e) {
                            if (e.Status) {
                                alert('ok!');
                            }
                            else {
                                alert('false');

                            }
                        },
                        error: function () {
                            alert('khata');
                        }
                    });
                });

            });
        });
    </script>
}
