@model IEnumerable<DataLayer.UserTB>

@{
    ViewBag.Title = "Index";
}

<h3 >Manage Users</h3>

<p class="p-md-3">
    <a class="btn btn-success" onclick="Create()" id="btnNewGroup">Create New Group</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.RoleTB.RoleTitle)
            </th>
            <th>
                Action
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.RoleTB.RoleTitle)
                </td>
                <td>

                    <a onclick="Edit()" class="btn btn-warning btn-sm">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a onclick="Delete()" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }

    </table>
    </div>
